.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.service-img {
    width: 75%;
    margin-bottom: 20px;
}

.service-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-card {
    color: #B3B3B3;
    font-family: 'Tungsten-Bold';
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.5); 
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 0 20px 0 0;
    border: 3px solid #B3B3B3;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
}

.service-card h2 {
    transition: color 0.3s ease;
    font-size: 2rem;
}

.service-card h2 span {
    display: block;
    font-size: 1.3rem;
}

.service-card h2.active {
    color: #E74815;
    margin-bottom: 10px;
}

.service-card p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    font-size: 1.2rem;
    line-height: 1.2;
    opacity: 0;
}

.service-card p.show {
    max-height: 400px;
    opacity: 1;
}

.service-card p.hide {
    max-height: 0;
    opacity: 0;
}