.multimedia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.multimedia-container iframe {
    width: 100%;
    height: 400px;
    border: none;
}

/* Desktop Media Query */

@media (min-width: 763px) {
    .multimedia-container {
        height: 100vh;
        padding: 50px;
    }

    .multimedia-container iframe {
        height: 100%;
    }
}