.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
    position: relative;
    padding: 20px;
    background-image: url('../../assets/fondo_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bull-welcome-img {
    width: 60%;
}

.bull-asset-img {
    width: 40%;
    position: absolute; 
    right: -23%;
}

/* Desktop Media Query */

@media (min-width: 1024px) {

    .header-container {
        padding: 50px;
        gap: 10%;
        justify-content: center;
    }

    .bull-welcome-img {
        width: 33%;
    }

    .bull-asset-img {
        width: 33%;
        right: 0;
        position: static; 
    }
}